@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --primary-bg-color: hsl(212, 45%, 89%);
  --primary-wrapper-color: hsl(0, 0%, 100%);
  --primary-subtitle-color: hsl(220, 15%, 55%);
  --primary-box-shadow: hsl(220, 15%, 55%, 0.2);
  --primary-title-color: hsl(218, 44%, 22%);
  --primary-link-color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Outfit";
  background-color: var(--primary-bg-color);
}
main {
  flex: 1;
  display: flex;
  align-items: center;
}
.wrapper {
  display: block;
  max-width: 18.75rem;
  padding: 0.938rem 0.938rem;
  margin: 1.875rem 1.875rem;
  border-radius: 0.938rem;
  background-color: var(--primary-wrapper-color);
  box-shadow: 0 0 0.75rem var(--primary-box-shadow);
}
.wrapper .qr-image {
  aspect-ratio: 1/1;
  max-width: 100%;
  height: auto;
}
.wrapper .qr-image > img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.wrapper .text {
  text-align: center;
  margin: 0.125rem 0.875rem;
}
.wrapper h1 {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 1.375rem;
}
.wrapper p {
  color: var(--primary-subtitle-color);
  font-weight: 400;
  font-size: 0.938rem;
}

footer {
  margin-top: 1.25rem;
  font-size: 0.688rem;
  text-align: center;
}
footer a {
  color: var(--primary-link-color);
}
